In [26]:
import tabula

import pandas as pd

In [28]:
file_path = 'REP IN CONGRESS 2020 - 23rd DISTRICT.pdf'

In [37]:
df = tabula.read_pdf(file_path, pages='all', output_format='dataframe')

In [38]:
type(df)

list

In [46]:
data = df[0]

In [48]:
data.head()

,Unnamed: 0,Tracy\rMitrano,Tom Reed,Tom Reed.1,Tracy\rMitrano.1,Unnamed: 5,Andrew M.\rKolstee,Tom Reed.2,Unnamed: 8,BLANK\rUndervotes,VOID\rOvervotes,Unqualified Write\rins,Total Votes,Unnamed: 13
0,NaN,DEM,REP,CON,WOR,GRE,LIB,IND,SAM,NaN,NaN,NaN,NaN,NaN
1,Any,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,City of Ithaca 1 - 1,371,49,6,92,0,7,4,NaN,13.0,0.0,2.0,544.0,NaN
3,City of Ithaca 1 - 2,293,51,3,71,0,5,3,NaN,10.0,1.0,0.0,437.0,NaN
4,City of Ithaca 1 - 3,210,55,4,52,0,2,0,NaN,9.0,0.0,0.0,332.0,NaN

Drop row index 1, it doesn't contain any data

In [50]:
data.drop(data.index[1], inplace=True)

In [51]:
data.head()

,Unnamed: 0,Tracy\rMitrano,Tom Reed,Tom Reed.1,Tracy\rMitrano.1,Unnamed: 5,Andrew M.\rKolstee,Tom Reed.2,Unnamed: 8,BLANK\rUndervotes,VOID\rOvervotes,Unqualified Write\rins,Total Votes,Unnamed: 13
0,NaN,DEM,REP,CON,WOR,GRE,LIB,IND,SAM,NaN,NaN,NaN,NaN,NaN
2,City of Ithaca 1 - 1,371,49,6,92,0,7,4,NaN,13.0,0.0,2.0,544.0,NaN
3,City of Ithaca 1 - 2,293,51,3,71,0,5,3,NaN,10.0,1.0,0.0,437.0,NaN
4,City of Ithaca 1 - 3,210,55,4,52,0,2,0,NaN,9.0,0.0,0.0,332.0,NaN
5,City of Ithaca 1 - 4,617,72,7,191,0,7,9,NaN,28.0,0.0,2.0,933.0,NaN